*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000025;
}
h2{   
    position: relative;
    font-size: 8vh;
    color: #000025;
    letter-spacing: 5px;
    -webkit-text-stroke: 3px #383d52;
    text-transform: uppercase;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
    white-space: nowrap;
}
@keyframes animate{
    0%,100%{
        width: 0; 
    }
    50%{
        width: 100%; 
    }
}